@font-face {
    font-family: 'Introrust';
    src: url(./introrustg-base2line.otf);
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(./Helvetica-Bold.ttf);
    font-display: swap;
    font-style: normal;
}